*{
    margin: 0;
    padding: 0;
}
.background{
    height: 100vh;
    width: 100vw;
    background-image: url(./background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(8px);
    position: absolute;
}
.parent{
    height:100vh;
    width:100vw;
    /* background-color: azure; */
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-i{
    width:80%;
    height:90%;
    background-color: #ffffff;
    border-radius: 4px;
    display:flex;
    padding: 0;
}
.image{
    width:55%;
    height: 100%;
    background-image: url(./IMG_20220319_105658.jpg);
    border-radius: 4px 0 0px 4px;
}
.form{
   
    width: 45%;
    padding: 50px;

}
.heading-text{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: inline;   
}
.heading{   
    padding-top: 30px;
}
.username-field{
    outline: none;
    width: 100%;
    height: 30px;
    margin-top: 20px;
    font-size: 14px;
    
    border: none;
    box-sizing: border-box;
}
.username{
   
    width:100%;
    
}
.underline{
    width: 100%;
    height:3px;
    background-image: linear-gradient(to right, blue,rgb(255, 0, 170),rgb(247, 0, 255));
}
.inputs{
    margin-top: 10px;
    margin-bottom: 30px;
}
.button-continue{
    height: 35px;
    width: 100%;
    background-image: linear-gradient(to right, rgb(85, 85, 243),rgb(247, 0, 255));
    display: flex;
}
.button-continue1{
    height: 35px;
    width: 100%;
    background-image: linear-gradient(to right, rgb(31, 119, 179),rgb(151, 213, 248));
    display: flex;
}
.button-continue2{
    height: 35px;
    width: 100%;
    background-image: linear-gradient(to right, rgb(7, 61, 122),rgb(6, 100, 240));
    display: flex;
}
.continue-text{
    width:90%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.continue-text1{
    width:80%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.continue-txt{
    font-size: 13px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.continue-txt1{
    font-size: 13px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
.logo{
    background-image: url(./pngwing.com.png);
    /* background-color: red; */
    background-size: contain;
    background-repeat: no-repeat;
    
    width: 10%;
    height: 100%;
    filter: invert();
}
.logo1{
    background-image: url(./facebook-logo.png);
    /* background-color: red; */
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    left:30px;
    width: 20%;
    top:50%;
    transform: translate(0,-50%);
    height: 60%;
    filter: invert();
}
.logo2{
    background-image: url(./twitter.png);
    /* background-color: red; */
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    left:25px;
    width: 20%;
    height: 100%;
    /* filter: invert(); */
}