*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.blurry-img{
    background-image: url(./WhatsApp\ Image\ 2022-06-09\ at\ 7.56.21\ PM.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(5px);
    height: 100vh;
    width: 100vw;
}

.container{
    display: flex;
    justify-content: center;
    position: absolute;

    height: 400px;
    width: 700px;

    top: 80px;
    left: 240px;

    background-color: white;
}

.img{
    background-image: url(./IMG_20220319_105658.jpg);
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 100%;
}

.forms{
    width: 300px;
    height: 100%;
}

.forms-child{
    margin: 20px 50px;
}

.line{
    height:5px;
    width: 183px;
    background-image: linear-gradient(to right, purple, pink);

    margin: 5px 0px;
}

input{
    outline: none;
    border: none;
    height: 40px;
    width: 176px;

    font-size: 100%;
}

.continue{
    display:flex;
    position: relative;
}

.box-continue{
    width: 190px;
    height: 30px;
    background-image: linear-gradient(to right, purple, pink);

    display: flex;
    justify-content: center;
    align-items: center;
}

.right-arrow{
    background-image: url(./right-arrow.png);
    background-size: cover;
    height: 20px;
    width: 20px;
    right: 31px;
    position: absolute;
    top: 6px;
    /* background-color: yellow; */
}

.twitter-logo{
    /* background-image: url(./s/twitter-logo.png); */
    /* height: ; */
}

.box-twitter-sign-in{
    width: 190px;
    height: 30px;
    background-color: #00b9ff;
}

.box-facebook-sign-in{
    width: 190px;
    height: 30px;
    background-color: #3b5998;
}